<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Classification AI</title>
</head>
<body>
    <h1>Note classification time</h1>
    <div>
        <button type="button" id="recordButton">Record Audio</button>
        <h2>(Detected note here)</h2>
    </div>
</body>
</html>

<script>
    let streaming = false;
    let recording = false;
    let stream = null;
    let recorder;
    let chunks = [];
    let noiseTriggered = false;
    let audioContext;
    let analyser;

    document.getElementById("recordButton").addEventListener("click", toggleStreaming);

    async function toggleStreaming(){
        if(streaming){
            stopStreaming();
        }
        else{
            await startStreaming();
        }
    }

    async function startStreaming(){
        document.getElementById("recordButton").innerHTML = "Stop Recording";
        streaming = true;
        try {
            stream = await navigator.mediaDevices.getUserMedia({video: false, audio: true});

            context = new AudioContext();
            const source = context.createMediaStreamSource(stream);
            
            analyser = context.createAnalyser();
            dataArray = new Uint8Array(analyser.frequencyBinCount);
            
            source.connect(analyser);
            
            monitorNoise();
        }
        catch(err){
            console.error("Error accessing microphone.",err);
        }

    }

    function monitorNoise(){
        if(!streaming) return;
        analyser.getByteTimeDomainData(dataArray);

            let maxAmplitude = 0;
            for(let i = 0; i < dataArray.length; i++) {
                const amplitude = Math.abs(dataArray[i] - 128) / 128;
                if (amplitude > maxAmplitude) maxAmplitude = amplitude;
            }
            if (maxAmplitude > 0.5 && !recording) {
                recording = true;
                console.log("Recording for 2 seconds...");
                recorder = new MediaRecorder(stream);
                recorder.ondataavailable = e => chunks.push(e.data);
                recorder.onstop = (e) => {
                    console.log("Saving recording")
                    const blob = new Blob(chunks, { type: "audio/webm" });  
                    chunks = [];
                    audioToFlask(blob);
                    recording = false;
                };
                recorder.start();
                setTimeout(() => {
                    recorder.stop();
                }, 2000);
            }

        requestAnimationFrame(monitorNoise);
    }

    function stopStreaming(){

        document.getElementById("recordButton").innerHTML = "Start Recording";
        streaming = false;

        if(stream){
            stream.getTracks().forEach(track => track.stop());
            stream = null;
        }
    }

    function audioToFlask(blob){
        const formData = new FormData();
        formData.append("audio", blob, "audio.webm")

        fetch("/listen",{
            method: "POST",
            body: formData
        })
        .then(res => res.json())
        .then(data => console.log("Server response:",data))
        .catch(err => console.error("Error sending audio:",err));
    }
</script>