<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Classification AI</title>
</head>
<body>
    <h1>Note classification time</h1>
    <div>
        <button type="button" id="recordButton">Record Audio</button>
        <audio id="audioOutput">Play Audio</audio>
    </div>
</body>
</html>

<script>
    let recording = false;
    let stream = null;
    document.getElementById("recordButton").addEventListener("click", toggleRecording);

    async function toggleRecording(){
        if(recording){
            stopRecording();
        }
        else{
            await startRecording();
        }
    }

    async function startRecording(){
        document.getElementById("recordButton").innerHTML = "Stop Recording";
        recording = true;

        try {
            stream = await navigator.mediaDevices.getUserMedia({video: false, audio: true});
            document.getElementById("audioOutput").srcObject = stream;
            document.getElementById("audioOutput").play();
        }
        catch(err){
            console.error("Error accessing microphone.",err);
        }

    }

    function stopRecording(){
        document.getElementById("recordButton").innerHTML = "Start Recording";
        recording = false;

        if(stream){
            stream.getTracks.forEach(track => track.stop());
            stream = null;
        }
    }
</script>